{% extends "layout.html" %}

{% block content %}


	  <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
          <div class="col-lg-10 ftco-animate d-flex align-items-center">
          	<div class="text text-center">
          		<h2 class="mb-3">Securing Files stored on Cloud using Hybrid Cryptography and LSB Image Steganography</h2>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html#projects-section">Project <i class="ion-ios-arrow-forward"></i></a></span> <span>SecureCloud <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
		
		<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">It focuses on a safer way to store and share files on Cloud.</h2>
            <h2 id="abstract" class="mb-3 mt-5">#1. Abstract</h2>
            <p>
                Today cloud computing is used in many areas to store huge amount of data.
                But there are many issues while storing data on cloud and sharing them. <br>
                Cryptography and Steganography are the most commonly used solutions. <br> 
                But using a single encryption algorithm is not effective to provide high level security to the data in cloud computing. <br> 
                We thereby need a much more secured system.
            </p>
            <p>
              <img src="static/images/image_3.jpg" alt="" class="img-fluid">
            </p>
            <p>This project provides a better security mechanism using Hybrid Symmetric Key Cryptography and Steganography. <br>
                This uses AES, DES and RC2 algorithms to provide block wise security to data and LSB Steganography technique to embed the Private Keys used for encryption within a cover image for further security during file sharing. 
            </p>
            <hr>
            <h2 id="objectives" class="mb-3 mt-5">#2. Objectives</h2>
            <p>
                <ul>
                    <li>To achieve a Secured platform for storing files on Cloud.</li>
                    <li>Enhance the encryption process using three Encryption algorithms to encrypt the files.</li>
                    <li>Enhance the security while file sharing.</li>
                    <li>Provide additional protection while sharing the private keys using LSB Steganography.</li>
                </ul>
            </p>
            <hr>
            <h2 id="methodology" class="mb-3 mt-5">#3. Methodology</h2>
            <p>
                <img src="static/images/securecloud_m1.png" alt="" class="img-fluid">
            </p>
            <p>
                <ul>
                    <li>It takes a text file as input from the User.</li>
                    <li>Splits it into 3 equal parts.</li>
                    <li>Encrypt the 3 parts with 3 different Encryption Algorithms.</li>
                    <li>Join them together after encryption is complete and stored it on cloud.</li>
                </ul>
            </p>
            <hr>
            <p>
                <img src="static/images/securecloud_m2.png" alt="" class="img-fluid">
            </p>
            <p>
                <ul>
                    <li>It takes the encrypted file on the cloud as input.</li>
                    <li>Split it into 3 parts.</li>
                    <li>Decrypt it using the same 3 algorithms.</li>
                    <li>Join them together after decryption and provide it to the User.</li>
                </ul>
            </p>
            <hr>
            <p>
                <img src="static/images/securecloud_m3.png" alt="" class="img-fluid">
            </p>
            <p> There are 2 scenarios in File Sharing.
                <ul>
                    <li>In the first Scenario, when a User sends a request for a file the server sends an email to notify the request to the respective author of the file.</li>
                    <li>The email consists of the details of the User requesting the file, name of the file being requested and the purpose of requisition.</li>
                    <li>The owner has 2 choices here, either he/she can accept or reject the request.</li>
                    <li>If the owner accepts the request, the secret keys used for the encryption of the requested keys will be embeded into a JPG image using LSB Image Steganography technique and send it to the requester's email.</li>
                </ul>
            </p>
            <hr>
            <p>
                <img src="static/images/securecloud_m4.png" alt="" class="img-fluid">
            </p>
            <p>
                <ul>
                    <li>Once the requester recieves the Stego image containing the secret keys he/she can decode it in the Decode Stego Image module.</li>
                    <li>After decoding is complete it gives the secret keys that can used to decrypt the requested file on the sever.</li>
                    <li>In the second Scenario, if the owner rejects the request then the requested user will be notified about the same via email.</li>
                </ul>
            </p>
            <hr>
            <h2 id="conclusion" class="mb-3 mt-5">#4. Conclusion</h2>
            <p>
                <ul>
                    <li>With the help of Hybrid Encryption Mechanism we are able to increase the security of files stored on cloud.  </li>
                    <li>And using Steganography enhances the security while the files are being shared among the Users.   </li>
                    <li>Combining both these mechanisms make a much more Secure System to store and share files on cloud.   </li>

                </ul>
            </p>
            <hr>
            <h2 id="demo" class="mb-3 mt-5">#5. Demo and Resources</h2>
            <p>
                Project Demo : <a href="https://securecloud1000.000webhostapp.com/">https://securecloud1000.000webhostapp.com/</a>
                <br>
                Github : <a href="https://github.com/UMESH-SM/Secure-Files-Stored-on-Cloud-using-Hubrid-Cryptography-and-LSB-Image-Steganography">https://github.com/UMESH-SM/SecureCloud</a>
            </p>
            <!-- <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Life</a>
                <a href="#" class="tag-cloud-link">Sport</a>
                <a href="#" class="tag-cloud-link">Tech</a>
                <a href="#" class="tag-cloud-link">Travel</a>
              </div>
            </div>
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="static/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3>George Washington</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
              </div>
            </div>


            <div class="pt-5 mt-5">
              <h3 class="mb-5">6 Comments</h3>
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">
                    <img src="static/images/person_1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">Sept. 12, 2019 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="static/images/person_1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">Sept. 12, 2019 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                  <ul class="children">
                    <li class="comment">
                      <div class="vcard bio">
                        <img src="static/images/person_1.jpg" alt="Image placeholder">
                      </div>
                      <div class="comment-body">
                        <h3>John Doe</h3>
                        <div class="meta">Sept. 12, 2019 at 2:21pm</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                        <p><a href="#" class="reply">Reply</a></p>
                      </div>


                      <ul class="children">
                        <li class="comment">
                          <div class="vcard bio">
                            <img src="static/images/person_1.jpg" alt="Image placeholder">
                          </div>
                          <div class="comment-body">
                            <h3>John Doe</h3>
                            <div class="meta">Sept. 12, 2019 at 2:21pm</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                            <p><a href="#" class="reply">Reply</a></p>
                          </div>

                            <ul class="children">
                              <li class="comment">
                                <div class="vcard bio">
                                  <img src="static/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                  <h3>John Doe</h3>
                                  <div class="meta">Sept. 12, 2019 at 2:21pm</div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                  <p><a href="#" class="reply">Reply</a></p>
                                </div>
                              </li>
                            </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="static/images/person_1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">Sept. 12, 2019 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
              </ul> -->
              <!-- END comment-list -->
              
              <!-- <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>  -->

          </div>  
          <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
        <!--     <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </form>
            </div> -->
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading-sidebar">Contents</h3>
              <ul class="categories">
                <li><a href="#abstract">Abstract <span>(1)</span></a></li>
                <li><a href="#objectives">Objectives <span>(2)</span></a></li>
                <li><a href="#methodology">Methodology <span>(3)</span></a></li>
                <li><a href="#conclusion">Conclusion <span>(4)</span></a></li>
                <li><a href="#demo">Demo and Resources<span>(5)</span></a></li>
              </ul>
            </div>

        <!--     <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Recent Blog</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_3.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">house</a>
                <a href="#" class="tag-cloud-link">office</a>
                <a href="#" class="tag-cloud-link">building</a>
                <a href="#" class="tag-cloud-link">land</a>
                <a href="#" class="tag-cloud-link">table</a>
                <a href="#" class="tag-cloud-link">interior</a>
                <a href="#" class="tag-cloud-link">exterior</a>
                <a href="#" class="tag-cloud-link">industrial</a>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>

        </div>  -->
      </div>
    </section>  
    <!-- .section -->


{% endblock %}